#login {
  background-color: #ffffff;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(90deg, #f8fefc, #e3e7e7);
  padding-top: 70px; /* Menambahkan padding atas pada body */
}

#form {
  background: linear-gradient(90deg, #373d39, #0d110f);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.navbar {
  padding-top: 5px; /* memberi space untuk logo pada bagian atas */
  padding-bottom: 5px;
  background-color: #03041df8;
}

.dropdown-menu {
  animation: fadeInDown 0.7s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.navbar-nav .nav-link:hover {
  background-color: #ccc; /* warna elegan ketika di hover */
  color: #fff; /* warna teks ketika di hover */
}

#nav {
  background: linear-gradient(90deg, #129badd2, #16a387);
}

html,
body {
  height: 100%;
  width: 100%;
}

.container-fluid {
  height: 100%;
}

footer {
  bottom: 0;
  width: 100%;
  height: 40px;
  font-size: 14px;
  background-color: #03041df8;
}

.carousel-inner {
  width: auto; /* Menggunakan lebar yang sesuai dengan isi carousel */
  margin: 0 auto; /* Mengatur posisi carousel di tengah */
}

.carousel-item {
  align-items: center;
  justify-content: center;
  height: 350px; /* Sesuaikan dengan tinggi yang diinginkan */
  padding: 0 60px; /* Menambahkan jarak ke samping */
}

.carousel-item img {
  object-fit: cover; /* Memastikan gambar memenuhi area carousel */
  height: 100%; /* Menyesuaikan tinggi gambar dengan carousel */
  border-radius: 20px;
}
.carousel-container {
  margin-top: 0px; /* Sesuaikan dengan nilai yang diinginkan */
}
